Pharmagent/setup/python/*
Pharmagent/setup/*
Pharmagent/resources/models/*

__pycache__
*.vscode
*.venv
*.db
*.log
*.docx
*.json
*.xlsx
*.pdf
*.csv   
*.txt
*.npy
*.lock
*.exe
*.egg-info
*.gz
!.gitkeep
