DILIGENT/setup/python/*
DILIGENT/setup/.env
DILIGENT/resources/models/*


__pycache__
*.vscode
*.venv
*.db
*.log
*.docx
*.zip
*.json
*.xlsx
*.pdf
*.csv   
*.txt
*.npy
*.lock
*.exe
*.egg-info
*.gz
!.gitkeep

!DILIGENT/setup/*.json