FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=5002
UI_HOST=127.0.0.1
UI_PORT=7861
KERAS_BACKEND=
MPLBACKEND=
VITE_API_BASE_URL=/api
RELOAD=false

OLLAMA_URL=
OLLAMA_HOST=localhost
OLLAMA_PORT=11434

OPTIONAL_DEPENDENCIES=false
